1. Write a Python function to find the Max of three numbers

In [ ]:
def max_of_three(x,y,z):
  if x>y:
    return x
  elif y>z:
    return y
  else:
    return z

In [ ]:
x=int(input("Enter first number: "))
y=int(input("Enter second number: "))
z=int(input("Enter third number: "))
print("the max of three is",max_of_three(x,y,z))

Enter first number: 2
Enter second number: 5
Enter third number: 7
the max of three is 7

2. Write a Python function to sum all the numbers in a list.
Sample List : [18, 12, 30,10, 7]
Expected Output : 77

In [ ]:
def sum_list(items):
  s=0
  for x in items:
    s+=x
  return s

In [ ]:
list=[18,12,30,10,7]
print(" sum is",sum_list(list))

 sum is 77

3. Python program to insert a number to any position in a list (Get the number
to be inserted and position from the user)

In [ ]:
l1=[1,2,3,4,5]

In [ ]:
a=int(input("Enter the position: "))
b=int(input("Enter the position: "))
l1.insert(a,b)

Enter the position: 5
Enter the position: 6

4. Write a program to rename a key city to a location in the following dictionary.
sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}

In [ ]:
d1={"name": "Kelly", "age":25, "salary": 8000, "city": "New york"}
d1['location']=d1.pop('city')
print(d1)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

5. Write a Python program to change Bradâ€™s salary to 8500 in the following
dictionary.
sample_dict = {
 'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 500}

In [6]:
sample_dict={'emp1': {'name': 'Jhon', 'salary': 7500},'emp2': {'name': 'Emma', 'salary': 8000},'emp3': {'name': 'Brad', 'salary': 500}}
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

6. Write a program to copy elements 44 and 55 from the following tuple into a
new tuple. Given: tuple1 = (11, 22, 33, 44, 55, 66)

In [7]:
tuple=(11,22,33,44,55,66)
new_tuple=tuple[3:5]
print(new_tuple)

(44, 55)

7. Counts the number of occurrences of item 50 from a tuple tuple1 = (50, 10,
60, 70, 50,83,567,50,81

In [11]:
tuple=(50,10,60,70,50,83,567,50,81)
count=tuple.count(50)
print(count)

3